---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import {
  ChartPieSliceIcon,
  CircleIcon,
  FileCodeIcon,
  GitBranchIcon,
  LightningIcon,
  MagicWandIcon,
  PlugsConnectedIcon,
  PlugsIcon,
  SquareIcon,
  TriangleIcon,
  UserCheckIcon,
} from '@phosphor-icons/react';
import Banner from '../../../../components/Banner.astro';
import Bullets from '../../../../components/Bullets';
import Help from '../../../../components/Help.astro';
import diploiLogo from '../../../../images/diploi-logo.svg';
import FeaturesComponentIcons from '../../_components/FeaturesComponentIcons.astro';
import FeaturesHr from '../../_components/FeaturesHr.astro';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
import awsLogo from '../_images/aws-logo.svg';

const calendlyUrl = import.meta.env.VITE_CALENDLY_URL;

const awsComponentIDs = ['postgres', 'mongo', 'redis'];
const diploiPartialComponentIDs = ['node', 'next', 'react-vite'];
const diploiComponentIDs = [...awsComponentIDs, ...diploiPartialComponentIDs];

const components = await getCollection('component');
const awsComponents = components.filter((component) => !component.data.hidden && awsComponentIDs.includes(component.id));
const diploiPartialComponents = components.filter(
  (component) => !component.data.hidden && diploiPartialComponentIDs.includes(component.id)
);
const diploiComponents = components.filter((component) => !component.data.hidden && diploiComponentIDs.includes(component.id));
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <PlugsIcon />
    <h2>Built to Fit Your Existing Setup</h2>
    <p>
      Diploi works with your existing infrastructure. Integrate it with your current cloud to adopt features gradually, or move your entire
      stack for maximum benefit.
    </p>
  </FeaturesSectionHeader>
  <ul class="features">
    <li>
      <TriangleIcon weight="thin" className="bg" aria-hidden />
      <ChartPieSliceIcon />
      <h3>Incremental Adoption</h3>
      <p>
        Start small by running parts of your stack on Diploi while keeping your current production setup. Even our dev environments alone
        make a big difference to productivity.
      </p>
      <fieldset class="graph">
        <legend><Image alt="aws logo" src={awsLogo} height={24} /></legend>
        <div>
          <fieldset>
            <legend>Your cloud services</legend>
            <FeaturesComponentIcons components={awsComponents} />
          </fieldset>
          <fieldset class="diploi">
            <legend><Image alt="diploi logo" src={diploiLogo} height={24} /></legend>
            <FeaturesComponentIcons components={diploiPartialComponents} />
          </fieldset>
        </div>
        <Help>Diploi can run your deployments in the same AWS VPC as your existing infrastucture.</Help>
      </fieldset>
      <a class="button" target="_blank" href={calendlyUrl}>Book a Call</a>
      <Help>Private Cloud is available for Enterprise customers. Book a call and let's find the best solution for you!</Help>
    </li>
    <FeaturesHr vertical />
    <li>
      <SquareIcon weight="thin" className="bg" aria-hidden />
      <LightningIcon />
      <h3>Maximum Efficiency</h3>
      <p>
        Move your stack to Diploi for consistent environments from dev to prod. Set up entire environments with a single click, onboard devs
        in 30-seconds.
      </p>

      <fieldset class="graph diploi">
        <legend><Image alt="diploi logo" src={diploiLogo} height={24} /></legend>
        <FeaturesComponentIcons components={diploiComponents} />
        <Help>Diploi supports even the most complex setups. If it can be containerized, it can run on Diploi.</Help>
      </fieldset>

      <Banner class="banner">
        <UserCheckIcon /> Need help migrating? We provide developer resources and consultation to get your setup onto Diploi smoothly.
      </Banner>
    </li>
  </ul>
</FeaturesSection>

<style lang="scss">
  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 0;

      &:nth-of-type(2) .bg {
        translate: -5% 2%;
      }

      &:nth-of-type(3) .bg {
        translate: -5% -30%;
      }
    }

    li > svg {
      width: 32px;
      height: 32px;
    }

    .bg {
      position: absolute;
      width: 150% !important;
      height: 150% !important;
      aspect-ratio: 1/1;
      translate: -40% -22%;
      color: white;
      opacity: 0.02;
      z-index: -1;

      @media (max-width: 860px) {
        display: none;
      }
    }
  }

  fieldset {
    position: relative;
    display: flex;
    margin: 0;
    padding: 24px;
    padding-top: 12px;
    border: 1px solid var(--color-border-highlight);
    border-radius: var(--border-radius-medium);

    > legend {
      padding: 0 8px;
    }
  }

  .graph {
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
    width: 100%;

    > legend {
      translate: 0 5px;
    }

    > div {
      display: flex;
      gap: 16px;

      @media (max-width: 500px) {
        flex-direction: column;
      }

      > fieldset {
        flex: 1;
      }

      :global(ul) {
        justify-content: center;
        gap: 16px;
        width: 100%;
      }
    }

    @media (max-width: 860px) {
      display: flex;
      flex-direction: column;
    }

    &.diploi,
    .diploi {
      background-image: linear-gradient(to bottom right, var(--color-accent-primary-20), transparent);
      border-color: var(--color-accent-primary);
    }
  }

  .button {
    margin-top: 16px;
  }

  .banner {
    margin-top: 16px;
  }
</style>
