---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { Icon } from '../../../components';
import { Canvas } from '../../../components/react/Canvas';
import { BlobCanvas } from '../../../components/BlobCanvas';
import lovableIcon from '../../../images/lovable-icon.svg';

const calendlyUrl = import.meta.env.VITE_CALENDLY_URL;

const components = await getCollection('component');
const icons = components.filter((component) => !component.data.hidden).map((component) => component.data.icon);
---

<div class="hero">
  <div class="blobs">
    <BlobCanvas />
  </div>
  <div class="content">
    <a data-event="news_launchweek_click" class="news" href="/lovable">
      <Image id="lovable" width={16} height={16} src={lovableIcon} alt="lovable logo" /> Import From Lovable <Icon
        name="ArrowUpRight"
        weight="bold"
        sizeRem={1}
      />
    </a>
    <h1 class="main-heading">
      <div class="diploi-canvas-container">
        <Canvas client:idle />
      </div>
      <span class="text-gradient">Developer,</span><br />
      Welcome Home
    </h1>
    <p class="subtitle">
      Diploi is the place to
      <span class="scroller">
        <span>develop</span>
        <span>prompt</span>
        <span>test</span>
        <span>release</span>
        <span>host</span>
        <span>develop</span>
      </span>
    </p>
    <div class="icons">
      <ul>
        {
          icons.map((icon) => (
            <li>
              <img alt="component icon" src={`data:image/svg+xml;base64,${icon}`} width={40} height={40} />
            </li>
          ))
        }
      </ul>
      <div>
        <ul>
          {
            icons.map((icon) => (
              <li>
                <img alt="component icon" src={`data:image/svg+xml;base64,${icon}`} width={40} height={40} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <a data-event="hero_cta_click" href="#StackBuilder">
      <button>Get Started</button>
    </a>
    <ul class="links">
      <a data-event="calendly_click" target="_blank" href={calendlyUrl}>
        <li>
          <Icon name="Phone" sizeRem={1.275} /> Book a Demo
          <Icon name="ArrowSquareOut" sizeRem={1} />
        </li>
      </a>
      <a data-event="github_click" target="_blank" href="https://github.com/diploi">
        <li>
          <Icon name="GithubLogo" sizeRem={1.275} /> GitHub
          <Icon name="ArrowSquareOut" sizeRem={1} />
        </li>
      </a>
      <a data-event="discord_click" target="_blank" href="https://discord.gg/vvgQxVjC8G">
        <li>
          <Icon name="DiscordLogo" sizeRem={1.275} /> Discord
          <Icon name="ArrowSquareOut" sizeRem={1} />
        </li>
      </a>
      <a href="https://www.producthunt.com/products/diploi?embed=true&utm_source=badge-featured&utm_medium=badge&utm_source=badge-diploi" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=1030417&theme=dark&t=1762767364855" alt="Diploi - Zero&#0045;install&#0032;remote&#0032;development&#0044;&#0032;one&#0045;click&#0032;to&#0032;production | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
    </ul>
  </div>
</div>

<script>
  const scroller = document.querySelector('.scroller');
  if (scroller) {
    const items = scroller.querySelectorAll('span');
    let index = 0;
    setInterval(() => {
      index = (index + 1) % items.length;
      scroller.setAttribute('style', `--offset:${-items[index].offsetTop}px`);
      scroller.setAttribute('data-animate', `${index !== 0}`);

      if (index === items.length - 1) {
        setTimeout(() => {
          index = 0;
          scroller.setAttribute('data-animate', 'false');
          scroller.setAttribute('style', `--offset:0px`);
        }, 1000);
      }
    }, 2000);
  }
</script>

<style lang="scss">
  @use 'sass:math';
  @use '../../../styles/mixins';

  .hero {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;
    max-width: 100vw;
    height: calc(100vh - (var(--header-height-px) + var(--space-huge) + var(--main-gap) + 24px));
    min-height: 500px;
    max-height: 1000px;
    text-align: center;
  }

  .blobs {
    position: absolute;
    inset: 0 -16px;
    top: calc(var(--header-height-px) * -2);
    pointer-events: none;
    user-select: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
    text-align: center;

    p {
      margin-bottom: var(--space-xxl);
      font-size: 1.5rem;
    }

    > * {
      opacity: 0;
      animation: fadeIn 1000ms ease 1 forwards;
      animation-delay: 200ms;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }

    button {
      width: fit-content;
      cursor: pointer;
    }
  }

  .pick {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    z-index: 1;

    > img:last-of-type {
      margin-left: 4px;
      scale: -1 1;
    }

    @media (max-width: 860px) {
      scale: 0.65;
    }
  }

  .news {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    padding: 6px 12px;
    border-radius: 1000px;
    color: var(--color-text-primary);
    text-decoration: none;
    z-index: 2;
    scale: 0.8;

    @include mixins.respond-to('mobile') {
      scale: 1;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      inset: 0;
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(45deg, var(--color-accent-primary), var(--color-accent-secondary)) border-box;
      border: 1px solid transparent;
      border-radius: 1000px;
      filter: saturate(2);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      inset: 1px;
      background:
        radial-gradient(circle at 0, var(--color-accent-primary), transparent 100px),
        radial-gradient(circle at 100%, var(--color-accent-secondary), transparent 100px);
      border-radius: 1000px;
      opacity: 0.4;
      z-index: -1;
    }
  }

  .diploi-canvas-container {
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    z-index: -1;
    animation: moveUpDown 8000ms ease-in-out infinite;
    animation-delay: 2000ms;
    pointer-events: none;
  }

  @keyframes shake {
    0% {
      rotate: 10deg;
    }
    50% {
      rotate: 20deg;
    }
    100% {
      rotate: 10deg;
    }
  }

  .main-heading {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    position: relative;

    .text-gradient {
      display: inline-block;
      translate: 6px 0;
    }

    @include mixins.respond-to('mobile') {
      font-size: 6rem;
    }
  }

  .subtitle {
    position: relative;
    padding-right: 80px;

    .scroller {
      position: absolute;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 4px;
      height: 100%;

      mask-image: linear-gradient(to bottom, transparent, white 20%, white 80%, transparent);

      > span {
        display: inline-block;
        font-weight: 600;
        color: var(--color-secondary);
        translate: 0 var(--offset);

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            color: color-mix(in lab, var(--color-secondary), var(--color-primary) ($i - 1) * math.div(100%, 5));
          }
        }
      }

      &[data-animate='true'] {
        > span {
          transition: translate 400ms ease-in-out;

          @media (prefers-reduced-motion: reduce) {
            transition: none;
          }
        }
      }
    }
  }

  @keyframes scroll {
    0% {
      translate: 0 0 10px;
    }
    100% {
      translate: calc((100% + 16px) * -1) 0 10px;
    }
  }

  .icons {
    position: relative;
    display: flex;
    margin-bottom: var(--space-xxl);
    width: min(600px, 90vw);
    user-select: none;
    pointer-events: none;

    mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);

    > ul,
    > div > ul {
      display: flex;
      gap: 16px;
      margin-right: 16px;

      animation: scroll 30s linear infinite;

      > li {
        opacity: 0;
        animation: fadeIn 1000ms ease 1 forwards;
        animation-delay: 200ms;

        @media (prefers-reduced-motion: reduce) {
          animation: none;
        }

        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            animation-delay: (200ms + ($i * 50ms));
          }
        }
      }
    }

    > div {
      position: absolute;
      translate: 100% 0;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 24px;

    a {
      font-size: 1rem;
      text-decoration: none;
    }

    li {
      display: flex;
      align-items: center;
      gap: 5px;

      > :global(svg:last-of-type) {
        opacity: 0.8;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes moveUpDown {
    0% {
      transform: translate(-50%, -50%) translateY(0px);
    }
    50% {
      transform: translate(-50%, -50%) translateY(16px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0px);
    }
  }
</style>
