---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { CodeBlock, Database, SealCheckIcon } from '@phosphor-icons/react';
import cursorLogo from '../../../images/cursor-logo.webp';
import githubActionsIcon from '../../../images/github-actions-icon.svg';
import githubCopilotIcon from '../../../images/github-copilot-icon.svg';
import githubLogo from '../../../images/github-logo.svg';
import vscodeLogo from '../../../images/vscode-logo.svg';
import webstormLogo from '../../../images/webstorm-logo.svg';
import zedLogo from '../../../images/zed-logo.svg';
import FeaturesHr from '../../features/_components/FeaturesHr.astro';

const components = await getCollection('component');
const visibleComponents = components.filter((component) => !component.data.hidden && component.data.identifier !== 'supabase').slice(0, 24);

const supabase = components.find((component) => component.data.identifier === 'supabase');
---

<ul class="features">
  <li>
    <SealCheckIcon />
    <h3>Pro Developer Workflow</h3>
    <ul class="logos">
      <li><Image width={40} height={40} src={githubLogo} title="GitHub" alt="github logo" /></li>
      <li><Image width={40} height={40} src={githubActionsIcon} title="GitHub Actions" alt="github actions icon" /></li>
      <li><Image width={40} height={40} src={githubCopilotIcon} title="GitHub Copilot" alt="github copilot icon" /></li>
    </ul>
    <p>Get the proper software-dev workflow. Git, CI/CD, SSH, e.g.</p>
  </li>
  <FeaturesHr vertical />
  <li>
    <CodeBlock />
    <h3>Use Any Editor</h3>
    <ul class="logos">
      <li><Image width={40} height={40} src={cursorLogo} title="Cursor" alt="cursor logo" /></li>
      <li><Image width={40} height={40} src={zedLogo} title="Zed" alt="zed logo" /></li>
      <li><Image width={40} height={40} src={vscodeLogo} title="VS Code" alt="vs code logo" /></li>
      <li><Image width={40} height={40} src={webstormLogo} title="WebStorm" alt="webstorm logo" /></li>
    </ul>
    <p>Use any editor you'd like with SSH remote support, like Cursor or Zed.</p>
  </li>
  <FeaturesHr vertical />
  <li>
    <Database />
    <h3>Add Any Service</h3>
    <div class="components">
      <ul>
        <li>
          <a href="/component/supabase">
            <img title="Supabase" alt="Supabase icon" src={`data:image/svg+xml;base64,${supabase?.data.icon}`} width={40} height={40} />
          </a>
        </li>
      </ul>
      <ul>
        {
          visibleComponents.map((component) => {
            const img = (
              <img
                title={component.data.name}
                alt={`${component.data.name} icon`}
                src={`data:image/svg+xml;base64,${component.data.icon}`}
                width={16}
                height={16}
              />
            );
            return <li>{component.data.type === 'component' ? <a href={`/component/${component.data.identifier}`}>{img}</a> : img}</li>;
          })
        }
      </ul>
    </div>
    <p>Host any of our supported services with your app, like Supabase or a CMS.</p>
  </li>
</ul>

<style lang="scss">
  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
  }

  li > svg {
    width: 32px;
    height: 32px;
  }

  a {
    text-underline-offset: 4px;
    color: inherit;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .components {
    display: flex;
    gap: 8px;

    a {
      display: flex;
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
</style>
