---
import SubSectionHeader from '../SubSectionHeader.astro';
import Icon from '../Icon.astro';
import StackBuilderYaml from './StackBuilderYaml.astro';
import StackBuilderButtonCallout from './StackBuilderButtonCallout.astro';
import StackBuilderButtonComponent from './StackBuilderButtonComponent.astro';

interface Props {
  launchButtonText?: string;
  defaultComponentIds?: number[];
  hideComponents?: boolean;
  hideYaml?: boolean;
}

const { launchButtonText = 'Launch Stack', defaultComponentIds = [1, 101], hideComponents, hideYaml } = Astro.props;

const {
  result: { data },
} = await fetch(`${import.meta.env.VITE_API_URL}/api/trpc/stack.listPreviewComponents`).then((response) => response.json());
if (!data || data.status !== 'ok') {
  throw new Error(`Failed to load components (${data})`);
}

interface Component {
  componentID: number;
  type: 'component' | 'addon';
  identifier: string;
  name: string;
  url: string;
  count?: number;
  badge?: 'new' | 'beta';
  hidden?: boolean;
}

const components = (data.components as Component[]).filter((component) => !component.hidden);
const lovableComponent = (data.components as Component[]).find((component) => component.identifier === 'lovable');
---

<div class="stack-builder" data-components={JSON.stringify(components)} data-components-defaults={JSON.stringify(defaultComponentIds)}>
  <div class="grid">
    <div class="list">
      {
        !hideComponents && (
          <>
            <div class="callouts">{!!lovableComponent && <StackBuilderButtonCallout {...lovableComponent} href="/lovable" />}</div>
            <div class="header components">
              <SubSectionHeader
                title="Components"
                description="Base blocks of your Stack. Include editable code."
                class="header-components"
              />
            </div>
            <div class="blocks-container components">
              <div class="blocks components">
                {components
                  .filter((component) => component.type === 'component')
                  .map((component) => (
                    <StackBuilderButtonComponent {...component} class="component" />
                  ))}
              </div>
              {/* <ArrowLink href={import.meta.env.VITE_API_URL} text="Browse All" /> */}
            </div>
          </>
        )
      }
      <div class="header addons">
        <slot name="addons-header">
          <SubSectionHeader title="Add-ons" description="Complementary services. Configurable with config." />
        </slot>
      </div>
      <div class="blocks-container addons">
        <div class="blocks addons">
          {
            components
              .filter((component) => component.type === 'addon')
              .map((addon) => <StackBuilderButtonComponent {...addon} class="addon" />)
          }
        </div>
        {/* <ArrowLink href={import.meta.env.VITE_API_URL} text="Browse All" /> */}
      </div>
    </div>
    {!hideYaml && <StackBuilderYaml />}
  </div>
  <div class="ctas">
    <button id="button-launch-stack" class="secondary" data-url={import.meta.env.VITE_API_URL} disabled>
      <span class="blobs"></span>
      <span class="text">
        {launchButtonText}

        <span class="rocket">
          <Icon name="Rocket" weight="regular" />
        </span>
      </span>
    </button>
    <p class="small"><Icon name="Info" sizeRem={1} /> Instant launch. No sign-up required.</p>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('.stack-builder-button[data-id]');

  let selectedComponentIds: number[] = JSON.parse(
    (document.querySelector('[data-components-defaults]') as HTMLElement).getAttribute('data-components-defaults') || '[]'
  );

  const launchButton = document.getElementById('button-launch-stack') as HTMLButtonElement;
  launchButton.disabled = selectedComponentIds.length === 0;

  const toggleSelection = (currentSelectedIds: number[], id: number) => {
    let nextSelectedIds = currentSelectedIds;
    if (nextSelectedIds.includes(id)) {
      nextSelectedIds = nextSelectedIds.filter((blockId) => blockId !== id);
    } else {
      nextSelectedIds.push(id);
    }
    return nextSelectedIds;
  };

  buttons.forEach((button) => {
    const id = parseInt(button.getAttribute('data-id') || '0');

    const checkbox = button.querySelector('input[type="checkbox"]') as HTMLInputElement;
    checkbox.checked = selectedComponentIds.includes(id);
    if (checkbox.checked) button.classList.add('is-selected');

    button.addEventListener('click', (event) => {
      event.preventDefault();

      button.classList.toggle('is-selected');

      const isSelected = button.classList.contains('is-selected');
      checkbox.checked = isSelected;

      selectedComponentIds = toggleSelection(selectedComponentIds, id);

      const componentsEvent = new CustomEvent('components', { detail: selectedComponentIds });
      window.dispatchEvent(componentsEvent);

      launchButton.disabled = selectedComponentIds.length === 0;
    });
  });

  launchButton.addEventListener('click', async () => {
    if (launchButton.disabled) return;
    launchButton.disabled = true;

    const { launchStack } = await import('./launchStack');

    launchStack({ button: launchButton, componentIds: selectedComponentIds, apiUrl: launchButton.getAttribute('data-url') || '' });

    // @ts-ignore
    if (umami) {
      // @ts-ignore
      umami.track('launch', { page: location.pathname, componentIds: selectedComponentIds });
    }

    // @ts-ignore
    if (gtag) {
      // @ts-ignore
      gtag('event', 'conversion_event_default_1', { page: location.pathname, componentIds: selectedComponentIds });
    }
  });
</script>

<script>
  import { VITE_API_URL } from 'astro:env/client';

  const {
    result: { data },
  } = await fetch(`${VITE_API_URL}/api/trpc/stack.listPreviewComponents`).then((response) => response.json());
  if (!data || data.status !== 'ok') {
    throw new Error(`Failed to load components (${data})`);
  }

  interface Component {
    componentID: number;
    count?: number;
    badge?: 'new' | 'beta';
  }

  const components = data.components as Component[];

  const numberFormatter = new Intl.NumberFormat('fi-FI', {
    style: 'decimal',
  });

  for (const component of components) {
    if (!component.count) continue;
    const countElement = document.querySelector(`[data-component-count="${component.componentID}"]`);
    if (!countElement) continue;
    countElement.textContent = numberFormatter.format(component.count);
  }
</script>

<style lang="scss">
  @use '../../styles/mixins';

  .stack-builder {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
  }

  #button-launch-stack {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
    font-size: 1.25rem;
    position: relative;
    overflow: hidden;
    transition: border-color 300ms ease;
    cursor: pointer;

    &::after {
      content: '';
      opacity: 0;
      pointer-events: none;
      position: absolute;
      inset: 0px;
      padding: 1px;
      border-radius: inherit;
      filter: saturate(2);
      background: linear-gradient(to right, var(--color-accent-primary), var(--color-accent-secondary));
      -webkit-mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
      mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: opacity 300ms ease;
    }

    .text {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: var(--space-l);
    }
    .rocket {
      display: flex;
    }

    @keyframes vibrate {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(0);
      }
    }

    > .blobs {
      position: absolute;
      inset: 0;
      pointer-events: none;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 300%;
        aspect-ratio: 1/1;
        background-color: red;
        display: block;
        border-radius: 50%;
        opacity: 0.25;
        filter: blur(30px) saturate(3);
        animation: anime 16s linear infinite;
        transform: scale(0);
        transition: transform 300ms ease;
      }
      &::before {
        left: -50%;
        background-color: var(--color-accent-primary);
      }
      &::after {
        right: -50%;
        background-color: var(--color-accent-secondary);
      }
    }

    &:not(:disabled) {
      border-color: transparent;
      .rocket {
        animation: vibrate 160ms ease-in-out infinite;
      }
      .blobs {
        &::before,
        &::after {
          transform: scale(1);
        }
      }
      &::after {
        opacity: 1;
      }

      &:hover {
        > .blobs {
          &::before,
          &::after {
            transform: scale(1.5);
          }
        }
        background-color: transparent;
      }
    }
  }

  .grid {
    display: flex;
    gap: var(--space-xxl);

    > .list {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: var(--space-l);
    }
  }

  .header {
    margin-bottom: var(--space-l);

    @include mixins.respond-to('tablet') {
      &.components,
      &.addons {
        margin-bottom: 0;
      }
    }
  }

  .callouts {
    margin-top: calc(var(--space-xxl) * -1);
    margin-bottom: var(--space-xl);
  }

  .blocks-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    &.components {
      grid-area: components;
      margin-bottom: var(--space-xxl);
    }
    &.addons {
      grid-area: addons;
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    @include mixins.respond-to('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.respond-to('laptop') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .ctas {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    margin-top: var(--space-xl);

    > div {
      display: flex;
      gap: var(--space-m);
    }

    p {
      max-width: unset;
    }

    .small {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    @include mixins.respond-to('tablet') {
      align-items: center;
    }
  }
</style>
