---
import { Image } from 'astro:assets';
import { DownloadSimpleIcon, FlaskIcon, SparkleIcon } from '@phosphor-icons/react';
import Checkbox from '../Checkbox.astro';
import StackBuilderButton from './StackBuilderButton.astro';
import { componentTypeIDToString, type StackBuilderBlock } from './utils';

type Props = StackBuilderBlock & {
  class: string;
};

const { componentID, componentTypeID, identifier, name, url, class: className, badge, count } = Astro.props;

const type = componentTypeIDToString[componentTypeID];

export const extractRepositoryOwnerAndRepo = (repositoryUrl: string) => {
  let url = repositoryUrl;
  if (!url.endsWith('.git')) url = `${url}.git`;

  const regex = /https:\/\/github\.com\/(.*)\.git/g.exec(url);
  if (!regex || !regex[1]) throw new Error('Failed to parse Git repo');
  const [owner, repo] = regex[1]?.split('/') || [];
  return { owner, repo };
};

const { owner, repo } = extractRepositoryOwnerAndRepo(url);

const imageSrc = `https://diploi.b-cdn.net/component/${owner}/${repo}/icon.svg?ref=main`;

const numberFormatter = new Intl.NumberFormat('fi-FI', {
  style: 'decimal',
});
---

<StackBuilderButton component="button" class={className} data-id={componentID} data-component={identifier}>
  {
    badge === 'new' && (
      <strong class="new">
        <SparkleIcon weight="fill" aria-hidden="true" size={12} /> New
      </strong>
    )
  }
  {
    badge === 'beta' && (
      <strong class="beta">
        <FlaskIcon weight="fill" aria-hidden="true" size={12} /> Beta
      </strong>
    )
  }
  <div class="label">
    <Image alt={`${type} icon`} src={imageSrc} class="icon" aria-hidden="true" width={28} height={28} />
    <span>
      <span>{name}</span>
      {
        !!count && (
          <span class="downloads">
            <DownloadSimpleIcon aria-hidden="true" />{' '}
            <span aria-label="Times used" data-component-count={componentID}>
              {numberFormatter.format(count)}
            </span>
          </span>
        )
      }
    </span>
  </div>
  <Checkbox id={`${componentID}-checkbox`} tabIndex={-1} label="Include in stack" checked={className.includes('is-selected')} />
</StackBuilderButton>

<style lang="scss"></style>
