---
import { templates } from './templates';
import Template from './Template.astro';
---

<section>
  {
    templates.map(template => (
      <Template
        title={template.title}
        image={template.image}
        imageAlt={template.imageAlt}
        description={template.description}
        links={template.links}
      />
    ))
  }
  <Template
    title="And many more!"
    description="Check out all the templates we have to offer by signing up."
    links={[
      {
        title: 'Sign Up',
        href: 'https://console.diploi.com/sign-up',
        event: 'singuptemplate_click',
      },
    ]}
  />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 128px;
    max-width: 1200px;
  }

  @media (max-width: 900px) {
    section {
      grid-template-columns: repeat(1, 1fr);
      gap: 64px;
    }
  }
</style>
./templates
