---
import { Image } from 'astro:assets';
import { Info, Package } from '@phosphor-icons/react';

type Props = {
  slug: string;
  title: string;
  image?: ImageMetadata;
  imageAlt?: string;
  features: string[];
  showLearnMore?: boolean;
};

const {
  slug,
  title,
  image,
  imageAlt,
  features,
  showLearnMore = false,
} = Astro.props;
---

<article>
  {
    image && (
      <Image
        alt={imageAlt || 'template logo'}
        src={image}
        width={48}
        height={48}
      />
    )
  }
  {!image && <Package size={48} style={{ fill: 'url(#gradient-three)' }} />}
  <h3>{title}</h3>
  <section>
    <ul>
      {features.map((feature) => <li>{feature}</li>)}
    </ul>
    <button data-launch={slug}>Launch Project</button>
    {showLearnMore && <a href={`/launch/${slug}`}>Learn More</a>}
    {
      !showLearnMore && (
        <p class="help">
          <Info weight="bold" /> No account needed
        </p>
      )
    }
  </section>
</article>

<style>
  article {
    position: relative;
    padding: 32px;
    padding-top: 40px;
    padding-bottom: 16px;
    width: 280px;
    border-radius: 24px;
    background-color: var(--color-grey);
    box-shadow:
      rgba(255, 206, 227, 0.2) 0px 1px 1px 0px inset,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  article > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  article h3 {
    margin: 0;
  }

  article ul {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0;
    padding-left: 22px;
    list-style-type: '→';
    opacity: 0.7;
  }

  article ul li {
    padding-left: 8px;
  }

  article a {
    margin-top: 12px;
    align-self: center;
    position: relative;
    font-size: 0.64rem;
    text-decoration: none;
    color: white;
    transform: translateX(-8px);
    opacity: 0.5;
  }

  article a::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: -1.3em;
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100%;
    transform: translateY(-50%);
  }

  button {
    justify-content: center;
    align-self: stretch;
  }

  img {
    object-fit: contain;
  }

  .help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 0;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.64rem;
    opacity: 0.5;
  }
</style>
