---
import { Image } from 'astro:assets';
import { CaretDownIcon, ListIcon } from '@phosphor-icons/react';
import { features, links } from '../../content/features';
import lovableIcon from '../../images/lovable-icon.svg';
---

<button id="features-button" popovertarget="features-popover">
  <ListIcon size={24} /> Features <CaretDownIcon />

  <div popover id="features-popover">
    <section style={{ gridArea: 'groups' }}>
      <label>Diploi for</label>
      {
        features.map((feature) => (
          <a data-event={`${feature.id}_click`} href={feature.href}>
            <span>
              {<feature.icon />} {feature.title}
            </span>
            <span>{feature.description}</span>
          </a>
        ))
      }
    </section>
    <hr />
    <section style={{ gridArea: 'features' }}>
      <label>Features</label>
      {
        links.map((link) => (
          <a data-event={`features_links_${link.id}_click`} href={link.href}>
            <span>
              {<link.icon />} {link.title}
            </span>
          </a>
        ))
      }
    </section>
    <section style={{ gridArea: 'imports' }}>
      <label>Import from</label>
      <a data-event="ai_click" href="/lovable">
        <span><Image id="lovable" width={18} height={18} src={lovableIcon} alt="lovable logo" /> Lovable</span>
      </a>
    </section>
  </div>
</button>

<details class="mobile-features">
  <summary class="button">
    <ListIcon size={24} /> Features <CaretDownIcon />
  </summary>
  <div>
    {
      features.map((feature) => (
        <a data-event={`${feature.id}_click`} href={feature.href}>
          <span>
            {<feature.icon />} {feature.title}
          </span>
          <span>{feature.description}</span>
        </a>
      ))
    }
  </div>
</details>

<style lang="scss">
  @use 'sass:math';

  #features-button {
    justify-content: center;
    perspective-origin: 50% 50%;
    anchor-name: --features-anchor;

    @media (max-width: 899px) {
      display: none;
    }
  }

  #features-popover {
    --popover-offset: 32px;
    --popover-offset-x: 0;
    grid-template-columns: 1.3fr 1px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'groups hr features'
      'imports imports imports';
    inset: auto;
    margin: 0;
    margin-top: 64px;
    padding: 0;
    transform: translate(var(--popover-offset-x), var(--popover-offset));
    background: var(--color-bg);
    border-radius: 8px;
    cursor: default;
    overflow: visible;

    filter: drop-shadow(0 16px 32px black);

    border: 1px solid transparent;
    background:
      linear-gradient(var(--color-bg)) padding-box,
      conic-gradient(var(--color-primary), var(--color-bg), var(--color-primary)) border-box;

    @-moz-document url-prefix() {
      --popover-offset: 50%;
    }

    @supports (top: anchor(bottom)) {
      position: fixed;
      position-anchor: --features-anchor;
      margin-top: 0;
      top: calc(anchor(bottom) + 8px);
      left: anchor(center);
      --popover-offset: 0;
      --popover-offset-x: -50%;
    }

    @keyframes popup-open {
      from {
        transform-origin: 50% 0%;
        transform: perspective(1000px) translate(var(--popover-offset-x), var(--popover-offset)) rotateX(-20deg);
        opacity: 0;
      }
      to {
        transform-origin: 50% 0%;
        transform: perspective(1000px) translate(var(--popover-offset-x), var(--popover-offset)) rotateX(0deg);
        opacity: 1;
      }
    }

    &:popover-open,
    &.\:popover-open {
      display: grid;
      animation: popup-open 250ms cubic-bezier(0.25, 1, 0.5, 1);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: -12px;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid var(--color-primary);
      translate: -50% 0;
    }

    &::after {
      top: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--color-bg);
    }

    > section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      padding: 32px;
      padding-right: 42px;

      &:nth-of-type(1) {
        > a {
          width: 100%;

          $items: 4;
          @for $i from 1 through $items {
            &:nth-of-type(#{$i}) {
              svg {
                color: color-mix(in oklch, var(--color-primary), var(--color-secondary) ($i - 1) * math.div(100%, $items));
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        gap: 8px;

        > label {
          margin-bottom: 6px;
        }

        > a {
          width: 100%;
        }

        svg {
          width: auto;
          height: auto;
          color: var(--color-text-secondary);
        }
      }

      &:nth-of-type(3) {
        gap: 8px;
        padding: 24px 32px;
        background-color: var(--color-accent-primary-10);
      }
    }

    > hr {
      grid-area: hr;
      width: 1px;
      height: 100%;
      background-image: linear-gradient(to bottom, var(--color-primary), var(--color-accent-primary-10));
      background-size: 100%;
      border: none;
    }

    label {
      color: var(--color-text-primary);
      text-transform: uppercase;
      font-size: 12px;

      &:not(:first-of-type) {
        margin-top: var(--space-xl);
      }
    }

    a {
      gap: 0px;
      padding: 0;

      &::before {
        inset: -8px;
      }
    }
  }

  #features-popover a,
  .mobile-features a {
    flex-direction: column;
    align-items: flex-start;

    > span {
      display: flex;
      align-items: center;
      gap: 10px;

      &:nth-of-type(2) {
        padding-left: 34px;
        color: var(--color-text-secondary);
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--color-text-secondary);
    }
  }

  .mobile-features {
    width: 100%;

    &[open] {
      > summary > svg:last-of-type {
        rotate: 0.5turn;
      }
    }

    @media (min-width: 900px) {
      display: none;
    }

    > summary {
      font-weight: 350;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
      margin-top: var(--space-m);
      width: 100%;
      padding-left: 48px;

      > a {
        align-items: flex-start !important;
      }
    }
  }
</style>
