---
import { Package } from '@phosphor-icons/react';
import ArrowLink from './ArrowLink.astro';
import Icon from './Icon.astro';

type Props = {
  name: string;
  icon: string;
  features?: string[];
  url: string;
  owner: {
    name: string;
    isVerified: boolean;
  };
};

const { name, icon, features, url, owner } = Astro.props;
---

<article>
  <div class="border" inert></div>
  <header>
    {icon && <img alt="component icon" src={`data:image/svg+xml;base64,${icon}`} width={40} height={40} />}
    {!icon && <Package size={40} style={{ fill: 'url(#gradient-three)' }} />}
    <section>
      <h3 class="h4">{name}</h3>
      <p class="small">
        {owner.name}{owner.isVerified && <Icon name="SealCheck" weight="fill" color="var(--color-primary)" sizeRem={1} />}
      </p>
    </section>
  </header>
  <section>
    {
      features && (
        <ul>
          {features.map((feature) => (
            <li>
              <Icon name="Minus" sizeRem={1} /> {feature}
            </li>
          ))}
        </ul>
      )
    }
  </section>
  <ArrowLink href={url} text="GitHub" />
</article>

<style lang="scss">
  @use '../styles/mixins';

  article {
    position: relative;
    padding: 32px;
    padding-top: 40px;
    padding-bottom: 16px;
    width: 280px;

    header {
      display: flex;
      gap: 10px;

      p {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }

  article > .border {
    @include mixins.gradient-border($direction: to bottom left, $color-end: transparent 50%);
    position: absolute;
    inset: 0;
    border-top-right-radius: 32px;
    pointer-events: none;
    user-select: none;
  }

  article > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  article h3 {
    margin: 0;
  }

  article ul {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0;
    padding-left: 26px;
  }

  article ul li {
    color: var(--color-text-secondary);
  }

  button {
    justify-content: center;
    align-self: stretch;
  }

  img {
    object-fit: contain;
  }

  .help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 0;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.64rem;
    opacity: 0.5;
  }
</style>
