---
import redisLogo from '../images/redis-logo.svg';
import postgresLogo from '../images/postgres-logo.png';
import nodeLogo from '../images/node-logo.png';
import reactLogo from '../images/react-logo.svg';
import kubernetesLogo from '../images/kubernetes-logo.svg';
import dockerLogo from '../images/docker-logo.png';
import {
  ArrowsLeftRight,
  Browser,
  Code,
  DiamondsFour,
  Terminal,
} from '@phosphor-icons/react';

interface Props {
  type: 'structure' | 'cluster';
}

const deployments = ['Production', 'Staging', 'Dev 1', 'Dev 2'];
---

{
  Astro.props.type === 'structure' && (
    <figure class="stucture">
      <ul>
        <li class="item">
          <div>
            <label>Project</label>
            <p>My Project</p>
          </div>

          <ul class="deployments">
            {deployments.map((deployment) => (
              <li class="item top">
                <div>
                  <label>Deployment</label>
                  <p>{deployment}</p>
                </div>

                <ul>
                  <li class="item bottom">
                    <div class="background">
                      <h3>
                        <DiamondsFour weight="bold" /> App Cluster
                      </h3>

                      <figure class="cluster">
                        <div>
                          <img alt="redis logo" src={redisLogo.src} />
                        </div>
                        <div>
                          <img alt="postgres logo" src={postgresLogo.src} />
                        </div>
                        <div>
                          <img alt="node.js logo" src={nodeLogo.src} />
                        </div>
                        <div>
                          <img alt="react logo" src={reactLogo.src} />
                        </div>
                      </figure>
                    </div>
                  </li>
                </ul>
              </li>
            ))}
          </ul>
        </li>
      </ul>
    </figure>
  )
}

{
  Astro.props.type === 'cluster' && (
    <figure class="technology">
      <ul class="user">
        <li class="item">
          <div>
            <Code />
            <h3>VS Code</h3>
            <p class="info">
              Your local VS Code connects to the App Cluster remotely via SSH.
            </p>
            <ArrowsLeftRight />
          </div>
        </li>
        <li class="item">
          <div>
            <Browser />
            <h3>Browser</h3>
            <p class="info">
              Containers inside the App Cluster can expose HTTP endpoints.
            </p>
            <ArrowsLeftRight />
          </div>
        </li>
        <li class="item">
          <div>
            <Terminal />
            <h3>SSH</h3>
            <p class="info">
              Secure connection to individual containers inside the App Cluster.
            </p>
            <ArrowsLeftRight />
          </div>
        </li>
      </ul>

      <div class="deployment item">
        <div class="background">
          <div>
            <h3>
              <DiamondsFour weight="bold" /> App Cluster
            </h3>
            <p class="info">
              Orchestrates a Kubernetes cluster on a dedicated VM.
            </p>
            <p class="info">Runs anything that can be containerized.</p>

            <ul class="features">
              <li>
                <img src={kubernetesLogo.src} /> Built on top of Kubernetes
              </li>
              <li>
                <img src={dockerLogo.src} /> Runs any Docker image
              </li>
            </ul>
          </div>

          <div class="cluster">
            <div>
              <img alt="node logo" src={nodeLogo.src} />
              <p>Node.js API</p>
            </div>
            <div>
              <img alt="react logo" src={reactLogo.src} />
              <p>React</p>
            </div>
            <div>
              <img alt="postgres logo" src={postgresLogo.src} />
              <p>PostgreSQL Database</p>
            </div>
            <div>
              <img alt="redis logo" src={redisLogo.src} />
              <p>Redis Cache</p>
            </div>
            <p class="help">+ Any other Docker image</p>
          </div>
        </div>
      </div>
    </figure>
  )
}

<style>
  figure {
    max-width: 900px;
    margin: 0;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    margin-bottom: 6px;
    font-size: 1rem;
  }

  h3 > svg {
    fill: url(#gradient-two);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  label {
    font-size: 0.64rem;
  }

  .stucture ul {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .deployments {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .item > div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 200px;
    /* border: 2px solid white; */
    background-color: var(--color-grey);
    border-radius: 16px;
    box-sizing: border-box;
  }

  @media (max-width: 480px) {
    .item > div {
      width: 100%;
    }

    .item.top > ul {
      width: 100%;
    }

    .item.bottom {
      width: 100%;
    }

    .item.bottom > div {
      align-items: center;
    }

    .deployments > li {
      width: 100%;
    }

    .deployments .cluster {
      max-width: 200px;
      max-height: 200px;
    }
  }

  .item.top {
    gap: 8px;
  }

  .item.top > div {
    border-radius: 16px 16px 0 0;
  }

  .item.bottom > div {
    border-radius: 0 0 16px 16px;
  }

  .item.bottom h3 {
    justify-content: center;
    translate: -3px;
  }

  .item p {
    margin: 0;
  }

  .stucture .item p {
    opacity: 1;
  }

  .technology {
    display: flex;
    gap: 32px;
    width: 100%;
  }

  .technology > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (max-width: 1000px) {
    .technology {
      flex-direction: column-reverse;
    }

    .technology > ul {
      flex-direction: row;
      justify-content: center;
    }
  }

  @media (max-width: 700px) {
    .technology > ul {
      flex-direction: column;
    }

    .technology > ul > li > div {
      width: 100%;
    }
  }

  .technology > .deployment {
    flex: 1;
  }

  .technology > .deployment > div {
    width: 100%;
  }

  .background {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,0,0,0.1)' viewBox='0 0 256 256'%3E%3Cpath d='M116.17,107.1h0a16.75,16.75,0,0,0,23.66,0L171.1,75.82a16.72,16.72,0,0,0,0-23.65L139.83,20.89a16.75,16.75,0,0,0-23.66,0L84.9,52.17a16.72,16.72,0,0,0,0,23.65Zm-20-43.62,31.28-31.27a.71.71,0,0,1,1,0l31.28,31.27a.74.74,0,0,1,0,1L128.51,95.79a.72.72,0,0,1-1,0L96.21,64.51A.74.74,0,0,1,96.21,63.48Zm138.9,52.69L203.83,84.89a16.74,16.74,0,0,0-23.65,0L148.9,116.17a16.75,16.75,0,0,0,0,23.66l31.28,31.28h0a16.74,16.74,0,0,0,23.65,0l31.28-31.28A16.75,16.75,0,0,0,235.11,116.17ZM223.8,128.51l-31.28,31.28a.74.74,0,0,1-1,0l-31.28-31.28a.72.72,0,0,1,0-1l31.28-31.28a.74.74,0,0,1,1,0l31.28,31.28A.72.72,0,0,1,223.8,128.51ZM107.1,116.17,75.82,84.89a16.74,16.74,0,0,0-23.65,0L20.89,116.17a16.75,16.75,0,0,0,0,23.66l31.28,31.28h0a16.74,16.74,0,0,0,23.65,0l31.28-31.28A16.75,16.75,0,0,0,107.1,116.17ZM95.79,128.51,64.51,159.79a.74.74,0,0,1-1,0L32.2,128.51a.72.72,0,0,1,0-1L63.48,96.21a.74.74,0,0,1,1,0l31.28,31.28A.72.72,0,0,1,95.79,128.51Zm44,20.39a16.75,16.75,0,0,0-23.66,0L84.9,180.18a16.72,16.72,0,0,0,0,23.65l31.27,31.28h0a16.75,16.75,0,0,0,23.66,0l31.27-31.28a16.72,16.72,0,0,0,0-23.65Zm20,43.62-31.28,31.27a.71.71,0,0,1-1,0L96.21,192.52a.74.74,0,0,1,0-1l31.28-31.28a.72.72,0,0,1,1,0l31.28,31.28A.74.74,0,0,1,159.79,192.52Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -208px -50%;
  }

  .stucture .background {
    background-size: 140%;
    background-position: -77px 20px;
  }

  .technology .item > div > svg:last-of-type {
    position: absolute;
    top: 50%;
    right: -28px;
    translate: 0 -50%;
    color: var(--color-white);
  }

  @media (max-width: 1000px) {
    .technology .item > div > svg:last-of-type {
      display: none;
    }
  }

  .deployment > div {
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    min-height: 100%;
  }

  @media (max-width: 700px) {
    .deployment > div {
      flex-direction: column;
    }
  }

  .deployment .cluster {
    --border: 8px;
    --offset: 2.5px;
    align-self: center;
  }

  .info {
    font-size: 0.64rem;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
    list-style: none;
  }

  .features > li {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.64rem;
  }

  .features > li > img {
    object-fit: contain;
    width: 24px;
    height: 24px;
  }

  .cluster {
    --border: 4px;
    --offset: 1.5px;

    position: relative;
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;

    scale: 0.9;
  }

  @keyframes spin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }

  .stucture .cluster > div {
    --duration: 40s;

    display: flex;
    position: absolute;
    width: 32px;
    aspect-ratio: 1/1;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* border: 2px solid white; */

    animation: spin linear infinite var(--duration);

    translate: -120% 0;
    transform-origin: 170% 50%;
  }

  .stucture .cluster > div > img {
    max-width: 100%;
    max-height: 100%;

    animation: spin linear infinite var(--duration) reverse;
  }

  .stucture .cluster > div:nth-of-type(2) {
    translate: 0 -120%;
    transform-origin: 50% 170%;
  }

  .stucture .cluster > div:nth-of-type(3) {
    translate: 120% 0;
    transform-origin: -70% 50%;
  }

  .stucture .cluster > div:nth-of-type(4) {
    translate: 0 120%;
    transform-origin: 50% -70%;
  }

  .technology .cluster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .technology .cluster > div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
  }

  .technology .cluster > div > img {
    object-fit: contain;
    width: 32px;
    height: 32px;
  }

  .technology .cluster > div > p {
  }

  .technology .cluster h4 {
    margin: 0;
    margin-top: -12px;
    margin-bottom: 8px;
  }

  .cluster::before,
  .cluster::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border) solid var(--color-primary);
    border-radius: 50%;
    translate: var(--offset) calc(-1 * var(--offset));
    transform-origin: calc(50% - var(--offset)) calc(50% + var(--offset));

    box-sizing: border-box;

    animation: spin linear infinite 5s;
  }

  .cluster::after {
    border-color: var(--color-secondary);
    translate: calc(-1 * var(--offset)) var(--offset);
    transform-origin: calc(50% + var(--offset)) calc(50% - var(--offset));
  }

  .help {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.64rem;
    color: #b6bdc8;
  }
</style>
