---
import { Image } from 'astro:assets';
import { LinkIcon } from '@phosphor-icons/react';
import Tag from '../Tag.astro';

type Props = {
  slug?: string;
  title: string;
  description: string;
  image?: ImageMetadata | false | null;
  external_image?: string | null;
  url?: string;
  timestamp: string;
  author: string;
  type?: string;
};

const { slug, title, description, image, external_image, url, timestamp, author, type = 'Blog' } = Astro.props;
---

<a href={`/blog/${slug}`}>
  {image !== false && (image || external_image) && <Image src={(image || external_image) as string} inferSize alt="Article image" />}
  <h3>{title}</h3>
  <p>{description}</p>
  <ul>
    <li>
      <Tag>{type}</Tag>
    </li>
    <li>
      <time datetime={timestamp}>
        {
          new Date(timestamp).toLocaleDateString('en-US', {
            month: 'long',
            day: 'numeric',
            year: 'numeric',
          })
        }
      </time>
    </li>
    {
      url && (
        <li>
          <LinkIcon /> Dev.to
        </li>
      )
    }
  </ul>
</a>

<style lang="scss">
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    > img {
      margin-bottom: 24px;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: var(--border-radius-medium);
      object-fit: cover;
    }

    > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      margin-top: 4px;

      > li {
        color: var(--color-text-secondary);
      }
    }
  }
</style>
