---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { RocketIcon } from '@phosphor-icons/react';
import StackBuilderLaunchButton from '../../../components/StackBuilder/StackBuilderLaunchButton.astro';
import FeaturesSection from '../../features/_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../features/_components/FeaturesSectionHeader.astro';
import { chatPreview, chatPreviewVideo, drawPreview, webPreview } from '../_utils/showcaseContent';

const SHOWCASE_COMPONENT_IDS = [
  110, // Chat App
  109, // Drawing App
  108, // Web App
];

const SHOWCASE_TAB_OVERRIDES: {
  [componentID: number]: {
    name?: string;
    description?: string;
    image?: ImageMetadata;
    color?: 'light' | 'dark';
    background?: string;
    video?: string;
  };
} = {
  109: {
    name: 'Drawing App',
    description: 'Collaborative drawing app built with Refine & Supabase.',
    image: drawPreview,
    color: 'dark',
    background: '#efeef1',
  },
  110: {
    description: 'A Slack like chat app built with Next.js & Supabase.',
    image: chatPreview,
    background: '#1b2234',
    video: chatPreviewVideo,
  },
  108: {
    description: 'Modern, production-ready full-stack React app.',
    image: webPreview,
    color: 'dark',
    background: '#fafafa',
  },
};

const components = await getCollection('component');
const showcases = components
  .filter((component) => component.data.type === 'starter' && SHOWCASE_COMPONENT_IDS.includes(component.data.componentID))
  .toSorted((a, b) => SHOWCASE_COMPONENT_IDS.indexOf(a.data.componentID) - SHOWCASE_COMPONENT_IDS.indexOf(b.data.componentID));

const supabaseIcon = components.find((component) => component.data.identifier === 'supabase')?.data.icon;
const nextIcon = components.find((component) => component.data.identifier === 'next')?.data.icon;
const reactIcon = components.find((component) => component.data.identifier === 'react-vite')?.data.icon;

const SHOWCASE_COMPONENTS: { [componentID: number]: { icon?: string; name: string; description: string }[] } = {
  109: [
    {
      icon: reactIcon,
      name: 'React (Vite)',
      description: 'Blazing fast frontend',
    },
    {
      icon: supabaseIcon,
      name: 'Supabase',
      description: 'Self-hosted backend',
    },
  ],
  110: [
    {
      icon: nextIcon,
      name: 'Next.js',
      description: 'Modern frontend',
    },
    {
      icon: supabaseIcon,
      name: 'Supabase',
      description: 'Self-hosted backend',
    },
  ],
  108: [
    {
      icon: reactIcon,
      name: 'React (Vite)',
      description: 'Blazing fast frontend',
    },
    {
      icon: supabaseIcon,
      name: 'Supabase',
      description: 'Self-hosted backend',
    },
  ],
};
---

<FeaturesSection class="showcases">
  <FeaturesSectionHeader slot="header">
    <h2 id="showcases">Discover What's Possible</h2>
    <p>
      Diploi runs your full stack, not just the app. Services like Supabase and Postgres run inside your deployment. Here are some examples.
    </p>
  </FeaturesSectionHeader>
  <article class="tabs">
    {
      showcases.map(({ data: { componentID, name, description, icon, previewImageUrls } }, index) => (
        <>
          <input type="radio" name="showcase-tabs" id={`showcase-tabs-${index}`} checked={index === 0} />
          <label
            for={`showcase-tabs-${index}`}
            style={{
              '--image': `url(${SHOWCASE_TAB_OVERRIDES[componentID]?.image?.src || previewImageUrls?.[0] || ''})`,
              '--image-color': SHOWCASE_TAB_OVERRIDES[componentID]?.background,
            }}
          >
            <div class="bg" style={{ maskImage: `url('data:image/svg+xml;base64,${icon}')` }} />
            <h3>{SHOWCASE_TAB_OVERRIDES[componentID]?.name || name}</h3>
            <p>{SHOWCASE_TAB_OVERRIDES[componentID]?.description || description}</p>
          </label>
        </>
      ))
    }

    {
      showcases.map(({ id, data: { componentID, name, description, previewImageUrls } }, index) => (
        <article
          class:list={['content', `showcase-content-${index}`, SHOWCASE_TAB_OVERRIDES[componentID]?.color]}
          style={{
            '--image': `url(${SHOWCASE_TAB_OVERRIDES[componentID]?.image?.src || previewImageUrls?.[0] || ''})`,
            '--image-color': SHOWCASE_TAB_OVERRIDES[componentID]?.background,
          }}
        >
          {/* Blurry overflow */}
          <svg class="bg" viewBox="0 0 1280 720" xmlns="http://www.w3.org/2000/svg">
            <>
              <filter id={`displacement-${index}`}>
                <>
                  <feTurbulence type="turbulence" seed={index * 1234} baseFrequency="0.003" numOctaves="2" result="turbulence" />
                  <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="200" xChannelSelector="R" yChannelSelector="G" />
                </>
              </filter>
              <rect width="90%" height="90%" filter={`url(#displacement-${index})`} />
            </>
          </svg>

          {/* Components & CTA */}
          <section class="actions">
            {SHOWCASE_COMPONENTS[componentID] && (
              <ul>
                {SHOWCASE_COMPONENTS[componentID].map((component) => (
                  <li>
                    <img alt="component icon" src={`data:image/svg+xml;base64,${component.icon}`} width={32} height={32} />
                    <section>
                      <strong>{component.name}</strong>
                      <span>{component.description}</span>
                    </section>
                  </li>
                ))}
              </ul>
            )}
            <section>
              <a class="button secondary" href={`/starter-kit/${id}`}>
                Learn More
              </a>
              <StackBuilderLaunchButton class="launch-showcase" data-id={componentID} data-url={import.meta.env.VITE_API_URL}>
                Launch Now
                <RocketIcon slot="icon" size={24} weight="bold" />
              </StackBuilderLaunchButton>
            </section>
          </section>

          {/* Cover image */}
          <section class="image">
            {SHOWCASE_TAB_OVERRIDES[componentID]?.video && (
              <video autoplay muted loop>
                <source src={SHOWCASE_TAB_OVERRIDES[componentID].video} type="video/mp4" />
              </video>
            )}
            {!SHOWCASE_TAB_OVERRIDES[componentID]?.video && previewImageUrls && (
              <Image
                src={(SHOWCASE_TAB_OVERRIDES[componentID]?.image as unknown as string) || previewImageUrls[0]}
                width={1280}
                height={720}
                priority
                quality="max"
                alt="Showcase preview"
              />
            )}
          </section>
        </article>
      ))
    }
  </article>
</FeaturesSection>

<script>
  const launchButtons = document.querySelectorAll('.launch-showcase[data-id]') as NodeListOf<HTMLButtonElement>;

  for (const launchButton of launchButtons) {
    launchButton.addEventListener('click', async () => {
      if (launchButton.disabled) return;
      launchButton.disabled = true;

      const { launchStack } = await import('../../../components/StackBuilder/launchStack.ts');

      launchStack({
        button: launchButton,
        componentIds: [parseInt(launchButton.getAttribute('data-id') || '')],
        apiUrl: launchButton.getAttribute('data-url') || '',
      });
    });
  }
</script>

<style lang="scss">
  @property --color {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
  }

  .showcases {
    // margin-top: -64px;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 8px;
    margin: 0 auto;
    // margin-top: -64px;
    width: 100%;
    max-width: var(--max-width-page-section);

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      column-gap: 0px;
      row-gap: 8px;
    }

    --rotation: 0deg;
    --color-bg-left: color-mix(in lab, var(--color-accent-primary), var(--color-bg) 70%);
    --color-bg-right: color-mix(in lab, var(--color-accent-secondary), var(--color-bg) 70%);

    // border: 1px solid transparent;
    // border-radius: var(--border-radius-medium);
    // background:
    //   linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    //   conic-gradient(from var(--rotation), var(--color-accent-primary), var(--color-accent-secondary), var(--color-accent-primary))
    //     border-box;

    /* Hide radio buttons */
    input[type='radio'] {
      display: none;

      /* Active tab */
      &:checked + label {
        --color: var(--color-hover);

        &::after {
          display: block;
        }
      }
    }

    /* Style tab labels */
    label {
      position: relative;
      display: inline-block;
      isolation: isolate;
      padding: 16px 20px;
      background-color: var(--color-bg-secondary);
      border-radius: var(--border-radius-medium);
      user-select: none;
      // overflow: hidden;
      cursor: pointer;

      --color: var(--color-border);

      transition: --color 250ms ease;

      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          --percentage: calc(((#{$i} - 1) / (5 - 1)) * 100%);
          --color-hover: color-mix(in lab, var(--color-primary), var(--color-secondary) var(--percentage));
        }
      }

      &:hover {
        --color: var(--color-hover);
      }

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        bottom: -17px;
        margin: 0 auto;
        width: 30px;
        height: 10px;
        background-color: var(--image-color);
        background-image: var(--image);
        background-size: 1280px 720px;
        background-position: center 0;
        mask-image: url('data:image/svg+xml,<svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30 10H0L15 0L30 10Z" fill="white"/></svg>');

        @media (max-width: 860px) {
          display: none !important;
        }
      }

      border: 1px solid transparent;
      border-radius: var(--border-radius-medium);
      background:
        linear-gradient(to bottom right in lab, color-mix(in lab, var(--color), var(--color-bg) 85%), var(--color-bg)) padding-box,
        conic-gradient(from -20deg, var(--color), var(--color-bg), var(--color)) border-box;

      p {
        max-width: 30ch;
        font-size: 0.875rem;
      }

      > .bg {
        position: absolute;
        inset: 0;
        mask-size: 150px 150px;
        mask-position: -32px -32px;
        mask-repeat: no-repeat;
        background-color: var(--color);
        opacity: 0.15;
        z-index: -1;
      }
    }
  }

  /* Content area */
  .content {
    position: relative;
    display: none;
    flex-direction: column;
    grid-column: span 5;
    margin-top: 16px;
    background-color: var(--image-color);
    background-image: var(--image);
    background-size: 100% auto;
    border-radius: var(--border-radius-medium);

    @media (max-width: 860px) {
      grid-column: unset;
    }

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        --percentage: calc(((#{$i} - 1) / (5 - 1)) * 100%);
        --color: color-mix(in lab, var(--color-primary), var(--color-secondary) var(--percentage));
      }
    }

    &.dark {
      background-color: white;

      ul > li {
        color: black;

        > img {
          filter: drop-shadow(0 0 12px rgba(255, 255, 255, 1));
        }
      }

      button,
      .button {
        color: black;
        filter: saturate(2);
      }
    }

    > .bg {
      position: absolute;
      inset: -64px;
      fill: var(--color);
      filter: blur(64px);
      pointer-events: none;
      translate: 0 52px;
      scale: 1 1.08;
      opacity: 0.5;
      z-index: -1;
    }
  }

  /* Show matching content */
  @for $i from 0 through 9 {
    #showcase-tabs-#{$i}:checked ~ .showcase-content-#{$i} {
      display: flex;
    }
  }

  .image {
    display: flex;
    width: 100%;

    > img,
    > video {
      width: 100%;
      height: auto;
      aspect-ratio: 1280 / 720;
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    }
  }

  .actions {
    position: relative;
    display: flex;
    isolation: isolate;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0px;
    padding-left: 24px;
    width: 100%;
    backdrop-filter: blur(32px);
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;

    @media (max-width: 860px) {
      flex-direction: column;
      gap: 0;
      padding-top: 16px;
      padding-left: 0;
    }

    ul {
      display: flex;
      gap: 16px;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      li {
        display: flex;
        gap: 8px;

        > section {
          display: flex;
          flex-direction: column;

          span {
            font-size: 0.875rem;
          }
        }
      }
    }

    > section {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding: 16px;
      padding-bottom: 12px;

      @media (max-width: 860px) {
        flex-direction: column;
        width: 100%;
      }

      > :global(button),
      :global(.button) {
        min-height: 62px;
        background: transparent;
      }
    }

    .launch-showcase {
      padding-left: 32px;
      padding-right: 24px;
    }
  }
</style>
