---
import Gradient from '../components/Gradient.astro';
import icon from '../images/logo-icon.svg';
import og from '../images/og.png';
import GlobalStyles from '../components/GlobalStyles.astro';

interface Props {
  title: string;
  description?: string;
  ogTitle?: string;
}

const defaultDescription = 'Single SaaS service for managing, developing and hosting your full application.';

const { title, description = defaultDescription, ogTitle = 'Diploi' } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg" href={icon.src} />
    <link rel="canonical" href={canonicalUrl} />

    {/* Open Graph (social media link previews eg.) */}
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://diploi.com/" />
    <meta property="og:image" content={og.src} />
    <meta property="og:image:alt" content="Diploi logo" />

    {/* Sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />

    {/* Google fonts */}
    {/* https://stackoverflow.com/questions/45983301/google-pagespeed-eliminate-render-blocking-resources-above-the-fold-caused-fro */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    {/* Google site verification */}
    <meta name="google-site-verification" content="XopKlvNBmdLaTZtElCt9bkAVDuqrRL-5Ist_6Ecth-o" />

    {/* Reddit pixel */}
    <script defer>
      !(function (w, d) {
        if (!w.rdt) {
          var p = (w.rdt = function () {
            p.sendEvent ? p.sendEvent.apply(p, arguments) : p.callQueue.push(arguments);
          });
          p.callQueue = [];
          var t = d.createElement('script');
          (t.src = 'https://www.redditstatic.com/ads/pixel.js'), (t.async = !0);
          var s = d.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        }
      })(window, document);
      rdt('init', 'a2_gryyzgsjf5fb', {
        externalId: Math.floor(Math.random() * 1000001),
      });
      rdt('track', 'PageVisit');
    </script>

    {/* Umami tag */}
    <script defer src="https://umami.console.diploi.com/script.js" data-website-id="745bea8d-6998-4bb9-ae81-9369864e5aaa"></script>
  </head>
  <body class="body">
    <slot />

    <Gradient />

    {/* Google tag (gtag.js) */}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-182JME5104"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-182JME5104');
      gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
      });
    </script>
  </body>
</html>

<script>
  // Disable Umami for localhost
  if (window && window.location.hostname === 'localhost') {
    localStorage.setItem('umami.disabled', '1');
  }

  window.addEventListener('DOMContentLoaded', () => {
    const targets = document.querySelectorAll('.on-scroll');

    const observer = new IntersectionObserver(
      (entries) =>
        entries.forEach((entry) => {
          if (entry.isIntersecting && entry.target.classList.contains('on-scroll')) {
            entry.target.classList.remove('on-scroll');

            setTimeout(() => {
              entry.target.classList.add('visible');

              setTimeout(() => {
                entry.target.classList.add('done');
              }, 2000);
            }, 500);
          }
        }),
      {
        threshold: 0.5,
      }
    );

    targets.forEach((target) => observer.observe(target));
  });

  window.addEventListener('DOMContentLoaded', () => {
    const events = document.querySelectorAll('[data-event]');

    events.forEach((element) =>
      element.addEventListener('click', () => {
        const event = element.getAttribute('data-event');
        // @ts-ignore
        umami.track(event);
        // @ts-ignore
        gtag('event', event);
      })
    );
  });
</script>

<GlobalStyles />

<style is:global>
  :root {
    --font-header-size: 3.052rem;
    --color-primary: #6650fa;
    --color-secondary: #ec609c;
    --color-grey: #31363f;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  input {
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
  }
</style>
