---
import Gradient from '../components/Gradient.astro';
import icon from '../images/logo-icon.svg';
import og from '../images/og.png';
import GlobalStyles from '../components/GlobalStyles.astro';

interface Props {
  title: string;
  description?: string;
}

const defaultDescription = 'Single SaaS service for managing, developing and hosting your full application.';

const { title, description = defaultDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg" href={icon.src} />

    <meta property="og:title" content="Diploi" />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://diploi.com/" />
    <meta property="og:image" content={og.src} />
    <meta property="og:image:alt" content="Diploi logo" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" -->
    <!--   rel="stylesheet" -->
    <!-- /> -->
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="stylesheet" href="/styles/mixins/breakpoints.scss" />

    <meta name="google-site-verification" content="XopKlvNBmdLaTZtElCt9bkAVDuqrRL-5Ist_6Ecth-o" />
  </head>
  <body class="body">
    <slot />

    <Gradient />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-182JME5104"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-182JME5104');
    </script>
  </body>
</html>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const targets = document.querySelectorAll('.on-scroll');

    const observer = new IntersectionObserver(
      (entries) =>
        entries.forEach((entry) => {
          if (entry.isIntersecting && entry.target.classList.contains('on-scroll')) {
            entry.target.classList.remove('on-scroll');

            setTimeout(() => {
              entry.target.classList.add('visible');

              setTimeout(() => {
                entry.target.classList.add('done');
              }, 2000);
            }, 500);
          }
        }),
      {
        threshold: 0.5,
      }
    );

    targets.forEach((target) => observer.observe(target));
  });

  window.addEventListener('DOMContentLoaded', () => {
    const events = document.querySelectorAll('[data-event]');

    events.forEach((element) =>
      element.addEventListener('click', () => {
        // @ts-ignore
        gtag('event', element.getAttribute('data-event'));
      })
    );
  });
</script>

<GlobalStyles />

<style is:global>
  :root {
    --font-header-size: 3.052rem;
    --color-primary: #6650fa;
    --color-secondary: #ec609c;
    --color-grey: #31363f;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  input {
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
  }
</style>
