---
import { Heart, RocketLaunch, SealCheck } from '@phosphor-icons/react';
import Tag from '../../../components/Tag.astro';
import { getCollection } from 'astro:content';
import AiLink from '../../ai/_components/AiLink.astro';

const components = await getCollection('component');

const laravelComponent = components.find((component) => component.id === 'laravel')!.data;
const denoComponent = components.find((component) => component.id === 'deno')!.data;
const fastapiComponent = components.find((component) => component.id === 'fastapi')!.data;
const flaskComponent = components.find((component) => component.id === 'flask')!.data;
const n8nComponent = components.find((component) => component.id === 'n8n')!.data;
const supabaseComponent = components.find((component) => component.id === 'supabase')!.data;
const lovableComponent = components.find((component) => component.id === 'lovable')!.data;
---

<section class="main">
  <ol>
    <li class="released">
      <h3><SealCheck weight="bold" style={{ fill: 'url(#gradient-two)' }} /> Monday</h3>
      <p>
        Day one brings two big additions: <a href="/component/laravel">Laravel</a> and <a href="/component/deno">Deno</a>. Laravel
        introduces <strong>official PHP support on Diploi</strong>, while Deno expands our JS/TS roster with powerful package management and
        fine-grained process permissions.
      </p>
      <ul>
        <li>
          <h4>
            <img alt="Laravel icon" src={`data:image/svg+xml;base64,${laravelComponent.icon}`} width={32} height={32} />
            {laravelComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>The PHP framework for web artisans. Running on FrankenPHP.</p>
          <AiLink href="/component/laravel">Launch Laravel</AiLink>
          <AiLink href="/blog/hosting_laravel_apps">Read guide</AiLink>
        </li>
        <li>
          <h4>
            <img alt="Deno icon" src={`data:image/svg+xml;base64,${denoComponent.icon}`} width={32} height={32} />
            {denoComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>The next-generation JavaScript runtime. Now available with a single-click.</p>
          <AiLink href="/component/deno">Launch Deno</AiLink>
          <AiLink href="/blog/hosting_deno_apps">Read guide</AiLink>
        </li>
      </ul>
      <RocketLaunch weight="duotone" className="bg" />
    </li>
    <li class="released">
      <h3><SealCheck weight="bold" style={{ fill: 'url(#gradient-two)' }} /> Tuesday</h3>
      <p>
        It's Python's turn! Day two brings <strong>two of the most popular Python web frameworks</strong>, <a href="/component/fastapi"
          >FastAPI</a
        > and <a href="/component/flask">Flask</a>, to Diploi. Launch them with a single-click and start building faster than ever.
      </p>
      <ul>
        <li>
          <h4>
            <img alt="FastAPI icon" src={`data:image/svg+xml;base64,${fastapiComponent.icon}`} width={32} height={32} />
            {fastapiComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>Modern, fast, web framework for building APIs with standard type hints.</p>
          <AiLink href="/component/fastapi">Launch FastAPI</AiLink>
          <AiLink href="/blog/hosting_fastapi_apps">Read guide</AiLink>
        </li>
        <li>
          <h4>
            <img alt="Flask icon" src={`data:image/svg+xml;base64,${flaskComponent.icon}`} width={32} height={32} />
            {flaskComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>Lightweight, easy, scalable WSGI web application framework.</p>
          <AiLink href="/component/flask">Launch Flask</AiLink>
          <AiLink href="/blog/hosting_flask_apps">Read guide</AiLink>
        </li>
      </ul>
      <RocketLaunch weight="duotone" className="bg" />
    </li>
    <li class="released">
      <h3><SealCheck weight="bold" style={{ fill: 'url(#gradient-two)' }} /> Wednesday</h3>
      <p>
        Day three expands Diploi's advanced toolkit with <a href="/component/n8n">n8n</a>. Build powerful automations, schedule tasks
        seamlessly, and take advantage of <strong>custom nodes right out of the box</strong>.
      </p>
      <ul>
        <li class="wide">
          <h4>
            <img alt="n8n icon" src={`data:image/svg+xml;base64,${n8nComponent.icon}`} width={32} height={32} />
            {n8nComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>
            Build with the precision of code or the speed of drag-n-drop. n8n gives you more freedom to implement multi-step AI agents and
            integrate apps than any other tool.
          </p>
          <AiLink href="/component/n8n">Launch n8n</AiLink>
          <AiLink href="/blog/hosting_n8n">Read guide</AiLink>
        </li>
      </ul>
      <RocketLaunch weight="duotone" className="bg" />
    </li>
    <li class="released">
      <h3><SealCheck weight="bold" style={{ fill: 'url(#gradient-two)' }} /> Thursday</h3>
      <p>
        Day four brings our biggest component yet: <a href="/component/supabase">Supabase</a>! With a full Postgres database, built-in
        authentication, powerful storage, and edge functions, Supabase makes it effortless to add <strong
          >a complete backend to your project</strong
        >. From idea to production, you now have everything you need with zero-setup.
      </p>
      <ul>
        <li class="wide">
          <h4>
            <img alt="n8n icon" src={`data:image/svg+xml;base64,${supabaseComponent.icon}`} width={32} height={32} />
            {supabaseComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>
            Start your project with a Postgres database, Authentication, instant APIs, Edge Functions, Realtime subscriptions, Storage, and
            Vector embeddings.
          </p>
          <AiLink href="/component/supabase">Launch Supabase</AiLink>
          <AiLink href="/blog/hosting_supabase">Read guide</AiLink>
        </li>
      </ul>
      <RocketLaunch weight="duotone" className="bg" />
    </li>
    <li class="released">
      <h3><SealCheck weight="bold" style={{ fill: 'url(#gradient-two)' }} /> Friday</h3>
      <p>
        We're closing Launch Week with something special: <strong>direct imports from Lovable</strong>. <a
          href="https://lovable.dev/"
          target="_blank">Lovable</a
        > is perfect for vibe-coding, while Diploi gives you the power to take projects further. <strong
          >Just connect your Lovable project to GitHub, select it in Diploi</strong
        >, and you're ready to go. You can even keep working across both platforms at the same time.
      </p>
      <ul>
        <li class="wide">
          <h4>
            <img alt="n8n icon" src={`data:image/svg+xml;base64,${lovableComponent.icon}`} width={32} height={32} />
            {lovableComponent.name}
            <Tag primary>New</Tag>
          </h4>
          <p>
            Official support for Lovable repositories. When logged into Diploi, create a new project and select "Import Repository" to get
            started.
          </p>
          {/*<AiLink href="/blog/hosting_supabase">Read guide</AiLink>*/}
        </li>
      </ul>
      <Heart weight="duotone" className="bg" />
    </li>
  </ol>
</section>

<style lang="scss">
  @use 'sass:math';
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      @include mixins.card-desktop;
      position: relative;
      padding: 48px;
      background-color: var(--color-bg);

      @for $i from 1 through 5 {
        &.released:nth-child(#{$i}) {
          background: linear-gradient(
            to top,
            transparent,
            color-mix(in lab, color-mix(in lab, var(--color-primary), var(--color-secondary) ($i - 1) * math.div(100%, 4)), transparent 90%)
          );

          > .bg {
            color: color-mix(
              in lab,
              color-mix(in lab, var(--color-primary), var(--color-secondary) ($i - 1) * math.div(100%, 4)),
              transparent 90%
            );
            opacity: 0.5;
          }

          &::after {
            background: linear-gradient(
              to bottom,
              color-mix(in lab, var(--color-primary), var(--color-secondary) ($i - 1) * math.div(100%, 4)),
              transparent
            );
          }
        }
      }

      > h3 {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      > p {
        a {
          color: var(--color-text-primary);
          text-underline-offset: 4px;
          font-weight: 600;
        }
      }

      > time {
        font-size: 1.25rem;
        font-weight: 350;
        color: var(--color-text-secondary);
      }

      > .bg {
        position: absolute;
        top: -5px;
        right: 0;
        width: 400px;
        height: 400px;
        color: var(--color-text-secondary);
        opacity: 0.1;
      }

      > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin-top: 32px;

        > li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          &.wide {
            grid-column: span 2;
          }

          h4 {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 1.5rem;
          }
        }

        @media (max-width: 860px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
</style>
