---
import { Image } from 'astro:assets';
import vscodeLogo from '../../../images/vscode-logo.svg';
import cursorLogo from '../../../images/cursor-logo.webp';
import vscodePreview from './vscode.png';
import cursorPreview from './cursor.png';
import terminalPreview from './terminal.png';
import { Minus, PlugsConnected, Plus, Terminal, TerminalWindow } from '@phosphor-icons/react';
import Tag from '../../../components/Tag.astro';
import AiSectionHeader from './AiSectionHeader.astro';
import AiLink from './AiLink.astro';
import AiHr from './AiHr.astro';

const previewImageProps = {
  width: 340,
  quality: 'max',
};
---

<section class="main">
  <AiSectionHeader>
    <PlugsConnected />
    <h2>Use The Tools You Love</h2>
    <p>Diploi works with any IDE that supports SSH. We offer first-class support for the most popular AI-native editors.</p>
  </AiSectionHeader>
  <section class="list">
    <article style={{ '--color-card-border': '#0098FF' }}>
      <Image {...previewImageProps} src={vscodePreview} alt="vs code preview" />
      <section>
        <Image width={32} height={32} src={vscodeLogo} alt="vs code logo" />
        <h3>VS Code <Tag primary>Officially supported</Tag></h3>
        <ul>
          <li><Minus /> Copilot, agent mode</li>
          <li><Minus /> Full extensions support</li>
        </ul>
      </section>
    </article>
    <AiHr vertical />
    <article style={{ '--color-card-border': 'white' }}>
      <Image {...previewImageProps} src={cursorPreview} alt="cursor preview" />
      <section>
        <Image width={32} height={32} src={cursorLogo} alt="cursor logo" />
        <h3>Cursor <Tag primary>Officially supported</Tag></h3>
        <ul>
          <li><Minus /> Agent mode, autocomplete, chat</li>
          <li><Minus /> Full extensions support</li>
        </ul>
      </section>
    </article>
    <AiHr vertical />
    <article>
      <Image {...previewImageProps} src={terminalPreview} alt="terminal preview" />
      <section>
        <TerminalWindow size={32} />
        <h3>SSH <Tag primary>Officially supported</Tag></h3>
        <ul>
          <li><Minus /> Full control over your environment</li>
          <li><Minus /> Any Debian ARM package supported</li>
        </ul>
      </section>
    </article>
  </section>
  <AiLink href="/dev">Remote development with Diploi</AiLink>
</section>

<style lang="scss">
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .list {
    display: flex;
    gap: 32px;

    @media (max-width: 860px) {
      flex-direction: column;
    }

    > article {
      flex: 1;

      > img {
        max-width: 100%;
      }

      > section {
        margin-top: 16px;

        :global(span) {
          transform: translateY(-2px);
        }

        > svg {
          color: var(--color-primary);
        }

        > ul > li {
          font-size: 1.25rem;
          font-weight: 350;
          color: var(--color-text-secondary);
        }
      }
    }
  }
</style>
